@media only screen and (max-width: 480px) {
.fa{
	    margin-left: 10px;
    font-size: 25px;
}	 
	.banner{
	width: 100%;
}
#logo{
	width: 100% !important;
}
.mobile-container {
 width: 100%;  
  border-radius: 10px;
}
.topnav a {
 
  padding: 0px;
  
}
#matricula{
	margin-bottom: 0px;
}

}
@media only screen and (min-width: 480px) {
	.topnav {
	margin: -12px -65px;}
	.fa{
		margin-top: 25px;
    font-size: 1.6em;
	}
	#matricula {
    margin-top: 25px;
    margin-bottom: 25px;
}
}
@media only screen and (max-width:768px){

#logo{
	width: 100%;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color:none;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: none;
  position: relative;
}


}

.topnav a {
  color: black;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: none;
  display: block;
  position: absolute;
  top: 1px;
}

.topnav a:hover {
  background: none;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
.owl-nav{
	display: none;
}
#matricula{

	margin-bottom: 25px}
@media only screen and (min-width:768px){	
.topnav {
	margin: 0px;}

	#logo{
		    margin-left: 130px;
	}
.fa {
    margin-top: 40px;
    font-size: 2.6em;
    margin-left: 30px;
}
a:link{
	cursor: pointer;
}
}